/* DEFAUL SET UP */
:root {
  --white: #fffff7;
  --shadow: #444444;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
body {
  font-family: "Abril Fatface", cursive;
  letter-spacing: 0.03rem;
}

/* CUSTOM SCROLLBAR */

/* width */
::-webkit-scrollbar {
    width: 0;
  }

/* HEADER */
.landing {
  min-height: 100vh;
  background: url("../img/background-header.png");
  background-size: cover;
  padding: 1.2rem 5rem 0;
  z-index: 2;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 10vh;
}
.nav-links {
  display: flex;
}
.nav-links li {
  padding: 0.8rem 2rem;
  font-size: 1.2rem;
  color: var(--white);
  border-radius: 5rem;
}
.nav-links li:hover {
    background: rgba(68, 68, 68, 0.6);
  }
  .nav-links .active{
    background: rgba(68, 68, 68, 0.6);

  }
.nav-links li a{
    font-size: 1.2rem;
    color: var(--white);
  }
#logo {
  font-weight: lighter;
  font-size: 3rem;
  color: var(--white);
  cursor: pointer;
}
.header-content {
  position: absolute;
  top: 50%;
  color: var(--white);
}
.big-text {
  font-size: 3rem;
  font-weight: 500;
}
.header-content h4 {
  font-weight: 500;
  font-size: 1.5rem;
  margin: 0.8rem 0;
}
.txt-type > .txt {
  border-right: 0.2rem solid var(--white);
}
.contact-btn {
  margin: 0.5rem 0;
  padding: 1rem 1.5rem;
  text-transform: uppercase;
  font-family: "Abril Fatface", cursive;
  letter-spacing: 0.1rem;
  font-size: 1rem;
  background: none;
  border: 1px solid #73b1d6;
  border-radius: 30px;
  box-shadow: 0 0 10px #73b1d6, 0 0 10px #73b1d6 inset;
  transition: all 0.2s linear;
  color: var(--white);
  outline: none;
  cursor: pointer;
}
.contact-btn:hover {
  box-shadow: 0 0 20px #73b1d6, 0 0 25px #73b1d6 inset;
}
.intro{
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}
.slider{
    background: var(--shadow);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    transform: translateY(100%);
}
.intro-text{
    color: var(--white);
    letter-spacing: 0.2rem;
    font-size: 2.5rem;
}

.hide{
    background: black;
    overflow: hidden;
}
.hide span{
    transform: translateY(100%);
    display: inline-block;
} 
.last-text{
    color: red;
}
/* SOCIAL */
.container-social{
    position: fixed;
    top: 40%;
    right: 0;
}
.list-social{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.list-social li{
    font-size: 2rem;
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 0.5rem 0 0 0.5rem;
    transition: 0.2s ease-in;
}
.list-social li:hover{
    transform: scale(1.1,1.1);
}
.list-social li:first-child{
    background: #3b5998;
}

.list-social li:nth-child(2){
    background: black;
}
.list-social li:nth-child(3){
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}
.list-social li i{
    color: white;
}

/* QUOTATIONS */

.quotations {
  padding: 1.2rem 10rem 0;
  z-index: 1;
}

.container-quotations{
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-quotations .number-quotations{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-quotations .number-quotations .number{
  /* color:var(--shadow); */
  border: 1px solid var(--shadow);
  padding: 0.5rem 0.9rem;
  border-radius: 50%;
  cursor: pointer;
}
.container-quotations .number-quotations .number:hover{
  background: var(--shadow);
  color: var(--white);
}
.activeBtn{
  background: var(--shadow);
  color: var(--white);
}

.container-quotations .number-quotations .line{
  width: 0.05rem;
  height: 4rem;
  background: var(--shadow);
  margin: 0.5rem 0;
}
.quotations-img{
  box-shadow: -2px 3px 26px -9px rgba(0,0,0,0.79);
  border: 5px solid var(--white);
  margin: 5rem 2rem;
  width: 44rem;
  display: flex; 
  overflow: hidden; 
  border-radius: 1rem;
  background:white;
}
.quotations-img img{
  width: 100%;
  height: 28rem;
  animation-name: fade;
  animation-duration: 1.5s;
}
.circle{
  background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%,65%);
  z-index: -1;
}
.content-quotations{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  animation-name: fade;
  animation-duration: 1.5s;
}
.content-quotations .before-quotations{
  line-height: 2;
  font-size: 1.3rem;
}
.content-quotations .before-quotations::after{
  content: "\201F";
  font-size: 18rem;
  position: absolute;
  left: 0;
  top: -210%;
  z-index: -1;
  color: #df8e8e;
}
.content-quotations .underlined{
  width: 40%;
  height: 0.5rem;
  background: #a74b4b;
  opacity: 0.8;
  margin: 2rem 0 1rem 0;
  text-align: right;
  align-items: flex-end;
}
.content-quotations .author{
  font-style: italic;
  padding-left: 35rem;
}

@keyframes fade {
  /* from {opacity: .4} 
  to {opacity: 1;} */
  0%{
    opacity: .4;
    left: -5%;
  }
  100%{
    opacity: 1;
    left: 0;
  }
}